<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.board.mapper.Mapper">

	<insert id="memberJoin">
		insert into member(email, password, mem_name, nickname, gender, mem_tel, join_date)
		values(#{email, jdbcType=VARCHAR}, #{password, jdbcType=VARCHAR}, #{mem_name, jdbcType=VARCHAR}, #{nickname, jdbcType=VARCHAR}, #{gender, jdbcType=VARCHAR}, #{mem_tel, jdbcType=VARCHAR}, sysdate)       
    </insert>
    <select id="memberLogin" resultType="kr.main.entity.memberVO">
        select email, password from member where email=#{email} and password=#{password}
    </select>
    
    <select id = "getList" resultType="kr.main.entity.boardVO">
        <![CDATA[
        select * from board where bno>0
        ]]>
    </select>
    
   	<insert id="insert">
        insert into tbl_attach (uuid, uploadPath, filename, filetype, bno)
        values (#{uuid},#{uploadPath},#{fileName},#{fileType},#{bno})
    </insert>
<!--     <insert id="insert">
        insert into board(bno, title, content, skintype)
        values (seq_board.nextval, #{title}, #{content}, #{skintype})
    </insert>  -->
    <insert id="insertSelectKey">
        <selectKey keyProperty="bno" order="BEFORE" resultType="long">
            select seq_board.nextval from dual
        </selectKey>
        insert into board (bno, title, content, skintype)
        values (#{bno},#{title},#{content},#{skintype})
    </insert>
    
    <delete id="delete">
        delete from tbl_attach where uuid = #{uuid}
    </delete>
    
    <select id="findByBno" resultType="kr.main.entity.BoardAttachVO">
		select * from tbl_attach where bno = #{bno}        
    </select>
    
    <select id="read" resultType="kr.main.entity.boardVO">
        select * from board where bno = #{bno}
    </select>
<!--     <delete id="delete">
        delete from board where bno = #{bno}
    </delete> -->
	
</mapper>