<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.board.mapper.Mapper">

	<insert id="memberJoin">
		insert into member(email, password, mem_name, nickname, gender, mem_tel, join_date)
		values(#{email, jdbcType=VARCHAR}, #{password, jdbcType=VARCHAR}, #{mem_name, jdbcType=VARCHAR}, #{nickname, jdbcType=VARCHAR}, #{gender, jdbcType=VARCHAR}, #{mem_tel, jdbcType=VARCHAR}, sysdate)       
    </insert>
    <select id="memberLogin" resultType="kr.main.entity.memberVO">
        select email, password from member where email=#{email} and password=#{password}
    </select>
    <!-- 게시판 목록 -->
    <select id = "getList" resultType="kr.main.entity.boardVO">
        <![CDATA[
        select * from board where bno > 0
        ]]>
    </select>
    
    <!-- 첨부파일 업로드 -->
    <insert id="insert">
        insert into tbl_attach (uuid, uploadPath, fileName, fileType, bno)
        values (#{uuid}, #{uploadPath}, #{fileName}, #{fileType}, #{bno} )
    </insert>
    
    <select id="findByBno" resultType="kr.main.entity.BoardAttachVO">
		select * from tbl_attach where bno = #{bno}        
    </select>

    <insert id="insertSelectKey" parameterType="kr.main.entity.boardVO" useGeneratedKeys="true" keyProperty="bno">
        <selectKey keyProperty="bno" order="BEFORE" resultType="long">
            select seq_board.nextval from dual
        </selectKey>
        insert into board (bno, title, content, skintype)
        values (#{bno}, #{title}, #{content}, #{skintype})
    </insert>
    <!-- 피부진단 업로드 -->
    <insert id="fileInsert">
        insert into t_attach (uuid, uploadPath, fileName, fileType, test_id)
        values (#{uuid}, #{uploadPath}, #{fileName}, #{fileType}, #{test_id} )
    </insert>
    <delete id="img_delete">
        delete from img_board where ino = #{ino}
    </delete>
    <select id="fileBno" resultType="kr.main.entity.SkinAttachVO">
        select * from t_attach where test_id = #{test_id}
    </select>
    
    <insert id="testInsert">
        <selectKey keyProperty="ino" order="BEFORE" resultType="long">
            select seq_tboard.nextval from dual
        </selectKey>
        insert into img_board (ino, img, email, test_date)
        values (#{ino}, #{img}, #{email}, sysdate)
    </insert>
    
    <select id="read" resultType="kr.main.entity.boardVO">
        select * from board where bno = #{bno}
    </select>
    
    <delete id="delete">
        delete * from board where bno = #{bno}
    </delete>
    
    <update id="update">
        update board set bno=#{bno}, title=#{title}, content=#{content}, skintype=#{skintype} where bno=#{bno}
    </update>
    
  <!--   <delete id="delete">
        delete from tbl_attach where uuid = #{uuid}
    </delete> -->

    
	
</mapper>